{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg-membership">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Rights of Nature Ghana Movement</p>
						<h1>CCE Using Indigenous Knowledge Systems</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br>
	
	<div style="display:fl;">

			<div style="height: 100vh;">
		<!-- advertisement section -->
		<div class="abt-section mb-150">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; width: 300px;">
						<div class="abt-bg">
							<a href="https://youtu.be/REBdl6uybac" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="abt-text">
							<p class="top-sub">Since Year 2025</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div style="height: 100vh;">
		<!-- advertisement section -->
		<div class="abt-section mb-150">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; width: 300px;">
						<div class="abt-bg">
							<a href="https://www.youtube.com/watch?v=D_IpdM_7xPI" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="abt-text">
							<p class="top-sub">Since Year 2025</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	</div>
	


    <iframe 
    src="https://drive.google.com/file/d/1K8vD2Xil3N6Viz7MofQgxgwROIt53fTc/preview" 
    style="width:100% ;height:100vh;">
</iframe>
<br>
<br>

<div style="align-items:center; text-align: center;">
	<a href="https://drive.google.com/uc?export=download&id=1K8vD2Xil3N6Viz7MofQgxgwROIt53fTc" 
   download 
   style="display:inline-block; padding:10px 20px; background:#007BFF; color:white; border-radius:5px; text-decoration:none;">
   Download PDF
</a>
</div>

                

{% endblock content %}