{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg-membership">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Rights of Nature Ghana Movement</p>
						<h1>CCE Using Indigenous Knowledge Systems</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br>

	<div>
		<p style="text-align: center; font-size: 22px;padding-bottom: 30px;">Environmental folk songs on native trees in Ghana</p>
	</div>
	
	<div style="align-items:center;  justify-content:center; display:flex; gap: 4em; flex-wrap: wrap;">

	<!--Abana-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/abana.png);">


							<a href="https://www.youtube.com/watch?v=REBdl6uybac" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Abana</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Ackee-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/ackee.png);">
							<a href="https://www.youtube.com/watch?v=W2KqWmaTF7E" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Ackee</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Apuro-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/apuro.png);">
							<a href="https://www.youtube.com/watch?v=I8UtPAzkAJI" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Apuro</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Atinini-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/atinini.png);">
							<a href="https://www.youtube.com/watch?v=UikP4846eEI" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Atinini</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Atroku-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/atroku.png);">
							<a href="https://www.youtube.com/watch?v=J0DlW9s1rg8" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Atroku</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Besetoro-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/besetoro.png);">
							<a href="https://www.youtube.com/watch?v=d6_8cmhTImw" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Besetoro</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Emere-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/emere.png);">
							<a href="https://www.youtube.com/watch?v=-XxKUr3exx8" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Emere</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Hwetohwe dua-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/hwetohwe%20dua.png);">
							<a href="https://www.youtube.com/watch?v=qnV0S_BD9-Y" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Hwetohwe dua</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Koklaku-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/koklaku.png);">
							<a href="https://www.youtube.com/watch?v=BEdgtgPQJPI" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Koklaku</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Korodua-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/korodua.png);">
							<a href="https://www.youtube.com/watch?v=tCLBob-gxsU" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Korodua</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Kraka-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/kraka.png);">
							<a href="https://www.youtube.com/watch?v=t9WGprEc5s4" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Kraka</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Nkutodua-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/nkutodua.png);">
							<a href="https://www.youtube.com/watch?v=ojNGl4wy4Xg" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Nkutodua</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Nyamedua-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/nyamedua.png);">
							<a href="https://www.youtube.com/watch?v=JwLK7v9FbEw" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Nyamedua</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Odum-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/odum.png);">
							<a href="https://www.youtube.com/watch?v=NxJGvdGO_Zg" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Odum</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Onyini-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/onyini.png);">
							<a href="https://www.youtube.com/watch?v=XkW5SAVBMys" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Onyini</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Paupau dua-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/paupau%20dua.png);">
							<a href="https://www.youtube.com/watch?v=hlvHDyH7dSM" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Paupau dua</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Pourea-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/pourea.png);">
							<a href="https://www.youtube.com/watch?v=toILzB7a1js" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Pourea</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Sesemasa-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/sesemasa.png);">
							<a href="https://www.youtube.com/watch?v=TOGS7ilPtRA" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Sesemasa</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Tamatama-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/tamatama.png);">
							<a href="https://www.youtube.com/watch?v=mXvm9OVQckY" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Tamatama</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Wakube-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/wakube.png);">
							<a href="https://www.youtube.com/watch?v=MdjYGhPWocA" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Wakube</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	</div>
	


    <iframe 
    src="https://drive.google.com/file/d/1K8vD2Xil3N6Viz7MofQgxgwROIt53fTc/preview" 
    style="width:100% ;height:100vh;">
</iframe>
<br>
<br>

<div style="align-items:center; text-align: center;">
	<a href="https://drive.google.com/uc?export=download&id=1K8vD2Xil3N6Viz7MofQgxgwROIt53fTc" 
   download 
   style="display:inline-block; padding:10px 20px; background:#007BFF; color:white; border-radius:5px; text-decoration:none;">
   Download PDF
</a>
</div>

                

{% endblock content %}