{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg-membership">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Rights of Nature Ghana Movement</p>
						<h1>CCE Using Indigenous Knowledge Systems</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br>

	<div>
		<p style="text-align: center; font-size: 22px;padding-bottom: 30px;">Environmental folk songs on native trees in Ghana</p>
	</div>
	
	<div style="align-items:center;  justify-content:center; display:flex; gap: 4em; flex-wrap: wrap;">

	<!--Abana-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/abana.png);">


							<a href="https://youtu.be/REBdl6uybac" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Abana</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Ackee-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/Ackee.png);">
							<a href="https://youtu.be/W2KqWmaTF7E" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Ackee</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Apuro-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/Apuro.png);">
							<a href="https://youtu.be/I8UtPAzkAJI" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Apuro</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Atinini-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/Atinini.png);">
							<a href="https://youtu.be/UikP4846eEI" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Atinini</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Atroku-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/Atroku.png);">
							<a href="https://youtu.be/J0DlW9s1rg8" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Atroku</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Besetoro-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/Besetoro.png);">
							<a href="https://youtu.be/d6_8cmhTImw" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Besetoro</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Emere-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/Emere.png);">
							<a href="https://youtu.be/-XxKUr3exx8" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Emere</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Hwetohwe dua-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/Hwetohwe%20dua.png);">
							<a href="https://youtu.be/qnV0S_BD9-Y" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Hwetohwe dua</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Koklaku-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/Koklaku.png);">
							<a href="https://youtu.be/BEdgtgPQJPI" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Koklaku</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Korodua-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/Korodua.png);">
							<a href="https://youtu.be/tCLBob-gxsU" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Korodua</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Kraka-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/Kraka.png);">
							<a href="https://youtu.be/t9WGprEc5s4" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Kraka</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Nkutodua-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/Nkutodua.png);">
							<a href="https://youtu.be/ojNGl4wy4Xg" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Nkutodua</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Nyamedua-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/Nyamedua.png);">
							<a href="https://youtu.be/JwLK7v9FbEw" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Nyamedua</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Odum-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/Odum.png);">
							<a href="https://youtu.be/NxJGvdGO_Zg" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Odum</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Onyini-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/Onyini.png);">
							<a href="https://youtu.be/XkW5SAVBMys" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Onyini</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Paupau dua-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/Paupau%20dua.png);">
							<a href="https://youtu.be/hlvHDyH7dSM" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Paupau dua</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Pourea-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/Pourea.png);">
							<a href="https://youtu.be/toILzB7a1js" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Pourea</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Sesemasa-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/Sesemasa.png);">
							<a href="https://youtu.be/TOGS7ilPtRA" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Sesemasa</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Tamatama-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/Tamatama.png);">
							<a href="https://youtu.be/mXvm9OVQckY" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Tamatama</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Wakube-->
	<div style="">
		<!-- advertisement section -->
		<div class="abt-section mb-10">
			<div class="container">
				<div class="">
					<div class="col-lg-6 col-md-12" style="height: 300px; min-width: 300px;">
						<div class="abt-bg" style="background-image: url(static/assets/img/native/Wakube.png);">
							<a href="https://youtu.be/MdjYGhPWocA" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
						</div>
					</div>
					<div class="col-g-6 col-d-12" >
						<div class="at-text">
							<p class="tp-sub" style="width:100%; text-align: center;padding: 20px 0px;">Wakube</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	</div>
	


    <iframe 
    src="https://drive.google.com/file/d/1K8vD2Xil3N6Viz7MofQgxgwROIt53fTc/preview" 
    style="width:100% ;height:100vh;">
</iframe>
<br>
<br>

<div style="align-items:center; text-align: center;">
	<a href="https://drive.google.com/uc?export=download&id=1K8vD2Xil3N6Viz7MofQgxgwROIt53fTc" 
   download 
   style="display:inline-block; padding:10px 20px; background:#007BFF; color:white; border-radius:5px; text-decoration:none;">
   Download PDF
</a>
</div>

                

{% endblock content %}