
{% extends 'main.html' %}
{% load static %}
{% block content %}

		<!-- home page slider -->
		<div class="homepage-slider">
			<!-- single home slider -->
			<div class="single-homepage-slider homepage-bg-1">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
							<div class="hero-text">
								<div class="hero-text-tablecell">
									<p class="subtitle">Rights of Nature Ghana Movement</p>
									<h1>Defending Ghana’s rivers, forests, and wildlife</h1>
									<div class="hero-btns">
										<a href="{% url 'contact' %}" class="boxed-btn">Join Us</a>
										<a href="{% url 'contact' %}" class="bordered-btn">Contact Us</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- single home slider -->
			<div class="single-homepage-slider homepage-bg-2">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 offset-lg-1 text-center">
							<div class="hero-text">
								<div class="hero-text-tablecell">
									<p class="subtitle">We are RoNAG</p>
									<h1>Advocating for nature’s right to thrive.</h1>
									<div class="hero-btns">
										<a href="{% url 'about' %}" class="boxed-btn">About RoNAG</a>
										<a href="{% url 'contact' %}" class="bordered-btn">Contact Us</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- single home slider -->
			<div class="single-homepage-slider homepage-bg-3">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 offset-lg-1 text-right">
							<div class="hero-text">
								<div class="hero-text-tablecell">
									<p class="subtitle">Join RoNAG today!</p>
									<h1>Together, we can give nature a voice.</h1>
									<div class="hero-btns">
										<a href="{% url 'news' %}" class="boxed-btn">News</a>
										<a href="{% url 'contact' %}" class="bordered-btn">Contact Us</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end home page slider -->
	

	<!-- features list section -->
	 
	<div class="welcome">
		<div class="welcome-wrapper">
			<div class="welc-title">
				Welcome to the Rights of Nature-Ghana Movement (RoNAG)
			</div>
			<div class="welc-img">
				<img src="{% static 'assets/img/im7.png' %}" alt="">
				<div>
					<em>A</em>t RoNAG, we are dedicated to defending the rights of nature in Ghana. Our mission is to advocate for the recognition of natural entities—such as rivers, mountains, parks, and wildlife—as living beings with inherent rights to exist, thrive, and regenerate. Through advocacy, research, and legal action, we strive to protect Ghana’s natural heritage from exploitation and injustice.
				</div>
			</div>
			
		</div>
		
	</div>

	<div class="why">
		<div>
			Why Rights of Nature?
		</div>
	</div>

	<div class="why-info">
		<div>
			<em>N</em>ature is not just a resource; it is a living entity that sustains us all. By recognizing the rights of nature, we can ensure a healthier, more sustainable future for both people and the planet. Our work is rooted in indigenous knowledge, cultural values, and local communities, ensuring that our efforts are both impactful and inclusive.
		</div>
		<img src="{% static 'assets/img/im4.jpg' %}" alt="">

	</div>

	<div class="what-we-do">
		<div class="title">
			<h4>What we do</h4>
		</div>
		<div class="flex">
			<div>
				<i class="fas fa-seedling fa-3x"></i>
				<h4>Advocacy & Awareness</h4>
				<div>
					We lead public campaigns and workshops to educate communities about the rights of nature. Through media, art, and indigenous knowledge, we inspire action to protect Ghana’s natural heritage.
				</div>
			</div>
	
			<div>
				<i class="fas fa-regular fa-globe fa-3x"></i>
				<h4>Research & Legal Action</h4>
				<div>
					We study local laws, cultural values, and environmental challenges to inform our work. We also strengthen legal frameworks and take legal action to defend nature’s rights in Ghana.			
				</div>
			</div>
	
			<div>
				<i class="fas fa-regular fa-ribbon fa-3x"></i>
				<h4>Community Empowerment</h4>
				<div>
					We work with local communities to ensure their voices are heard in environmental decisions. By partnering with grassroots groups, we build a collective movement for nature’s rights.			
				</div>
			</div>
		</div>
		
		<div class="read">
			<a href="{% url 'about' %}">Read More</a>
		</div>

	</div>
	<!-- end features list section -->

	<!-- testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'assets/img/avaters/gary.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>Gary Snyder <span>American poet and essayist</span></h3>
								<p class="testimonial-body">
									" Nature is not a place to visit. It is home. "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'assets/img/avaters/margaret.jpeg' %}" alt="">
							</div>
							<div class="client-meta">
								<h3> Margaret Mead <span>American cultural anthropologist and author</span></h3>
								<p class="testimonial-body">
									" We won’t have a society if we destroy the environment."
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'assets/img/avaters/swan.jpeg' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>Robert Swan <span>Explorer</span></h3>
								<p class="testimonial-body">
									" The greatest threat to our planet is the belief that someone else will save it. "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'assets/img/avaters/lady.jpeg' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>Lady Bird Johnson<span>Environmentalist, businesswoman, political activist</span></h3>
								<p class="testimonial-body">
									"The environment is where we all meet; where we all have a mutual interest; it is the one thing all of us share. "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->
	
	<!-- advertisement section -->
	<div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						<a href="https://www.youtube.com/watch?v=DBLlFWYcIGQ" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">Since Year 2025</p>
						<h2>We are <span class="orange-text">RoNAG</span></h2>
						<p>RoNAG is led by a team of dedicated professionals, including environmental scientists, wildlife conservationists, academic researchers, and legal experts. </p>
						<p>Our team is supported by a network of volunteers and partners who share our commitment to protecting Ghana’s natural heritage.</p>
						<a href="{% url 'about' %}" class="boxed-btn mt-4">know more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end advertisement section -->

	<!-- latest news -->
	<div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> News</h3>
						<p>Stay updated with the latest news, insights, and updates from RoNAG. Explore our articles and join the conversation.
						</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="{% url 'article2' %}"><div class="latest-news-bg news-bg-1">
							<img style="height: 100%; width: 100%; object-position: center; object-fit: cover;" src="{% static 'assets/img/news/unwilling.jpg' %}" alt="">
						</div></a>
						<div class="news-text-box">
							<h3><a href="{% url 'article2' %}">The Unwilling Ghana?</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Richard Obeng Mensah</span>
								<span class="date"><i class="fas fa-calendar"></i>April 16, 2025, 6 a.m</span>
							</p>
							<p class="excerpt">
								Professor Nkwantabisa: Dr. Basabasa, what national issues are trending in Ghana?
								<br>
								Dr. Basabasa: Prof., they are too many. They range from actual to potential...
							</p>
							<a href="{% url 'article' %}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
					
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="{% url 'article' %}"><div class="latest-news-bg news-bg-1">
							<img style="height: 100%; width: 100%; object-position: center; object-fit: cover;" src="{% static 'assets/img/news/dozers.jpg' %}" alt="">
						</div></a>
						<div class="news-text-box">
							<h3><a href="{% url 'article' %}">Stop the Impending Ecocide against Nature</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Dickson Adom</span>
								<span class="date"><i class="fas fa-calendar"></i>March 9, 2025, 3 p.m</span>
							</p>
							<p class="excerpt">Revisiting Ghanaian Indigenous Sensibilities and Setting the Tone for a Rights of Nature Ghana (RoNAG) Movement</p>
							<a href="{% url 'article' %}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
					
				</div>
				
				{% for post in posts %}
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="{% url 'singleNews' post.id %}"><div class="latest-news-bg news-bg-1">
							<img style="height: 100%; width: 100%; object-position: center; object-fit: cover;" src={{post.image1}} alt="">
						</div></a>
						<div class="news-text-box">
							<h3><a href="{% url 'singleNews' post.id %}">{{post.title}}</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i>{{post.date}}</span>
							</p>
							<p class="excerpt">{{post.paragraph1}}</p>
							<a href="{% url 'singleNews' post.id %}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				{% endfor %}
				
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="{% url 'news' %}" class="boxed-btn">More News</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->

{% endblock content %}