{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">

	<!-- title -->
	<title>RoNAG</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{%static 'assets/img/logo.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{%static 'assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{%static 'assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{%static 'assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{%static 'assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{%static 'assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{%static 'assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{%static 'assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{%static 'assets/css/responsive.css' %}">
	<link rel="stylesheet" href="{%static 'assets/font-6/css/all.css' %}">

	<link rel="stylesheet" type="text/css" href={% static 'assets/css/font-awesome.css' %}>


</head>
<body>
	
	<!--PreLoader-->
    {% comment %} <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div> {% endcomment %}
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div style=" margin-top: -25px; z-index: -1;" class="site-logo">
							<a href="{% url 'index' %}">
								<img style="height: 90px; width: 90px; object-fit: contain; object-position: center;"  src="{% static 'assets/img/logo.png' %}" alt="">
							</a>
							<a>Rights of Nature Ghana Movement</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav  class="main-menu">
							<ul>
								<li class="current-list-item"><a href="/">Home</a>
								</li>
								<li><a href="{% url 'about' %}">About</a></li>
								<li>
									<a href="{% url 'news' %}">News</a>
								</li>
								<li><a href="{% url 'contact' %}">Contact</a></li>
								<li><a href="{% url 'membership' %}">Join us</a></li>
								<li><a href="{% url 'gallery' %}">gallery</a></li>
								<li>
									<div class="header-icons">
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->


    {% block content %}
    {% endblock content %}

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div style="width: 200px; height: 100px;" class="single-logo-item">
							<img style="width: 100%; height: 100%; object-fit: contain; object-position: center;" src="{% static 'assets/img/company-logos/lawyersfornature.png' %}" alt="">
						</div>
						<div style="width: 100px; height: 100px;" class="single-logo-item">
							<img style="width: 100%; height: 100%; object-fit: contain; object-position: center;" src="{% static 'assets/img/company-logos/cder.png' %}" alt="">
						</div>
						<div style="width: 100px; height: 100px;" class="single-logo-item">
							<img style="width: 100%; height: 100%; object-fit: contain; object-position: center;" src="{% static 'assets/img/company-logos/BGCI.png' %}" alt="">
						</div>
						<div style="width: 100px; height: 100px;" class="single-logo-item">
							<img style="width: 100%; height: 100%; object-fit: contain; object-position: center;" src="{% static 'assets/img/company-logos/ecocare.png' %}" alt="">
						</div>
						<div style="width: 150px; height: 100px;" class="single-logo-item">
							<img style="width: 100%; height: 100%; object-fit: contain; object-position: center;" src="{% static 'assets/img/company-logos/centerforearth.png' %}" alt="">
						</div>
						<div style="width: 150px; height: 100px;" class="single-logo-item">
							<img style="width: 100%; height: 100%; object-fit: contain; object-position: center;" src="{% static 'assets/img/company-logos/StopEcocideLogo.png' %}" alt="">
						</div>
						<div style="width: 150px; height: 100px;" class="single-logo-item">
							<img style="width: 100%; height: 100%; object-fit: contain; object-position: center;" src="{% static 'assets/img/company-logos/GARNLOGO.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->
    
    <!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>We act as the voice for nature, advocating on behalf of natural entities in Ghana. Our mission is to ensure that nature’s rights to exist, thrive, regenerate, and perform their natural functions are recognized and upheld.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li> Kodie, Closer to the Kodie District Assembly, Ashanti-Ghana</li>
							<li>rightsofnatureghanamovement@gmail.com</li>
							<li>+233 24 456 8245
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="{% url 'index' %}">Home</a></li>
							<li><a href="{% url 'about' %}">About</a></li>
							<li><a href="{% url 'news' %}">News</a></li>
							<li><a href="{% url 'contact' %}">Contact</a></li>
							<li><a href="{% url 'membership' %}">Join us</a></li>
							<li><a href="{% url 'gallery' %}">gallery</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="https://formspree.io/f/xldjrpro">
							<input type="email" placeholder="Email" name="email">
							<a href="{% url 'index' %}">

							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2025 - <a href="#">RIGHTS OF NATURE GHANA MOVEMENT</a>,  All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="https://www.facebook.com/profile.php?id=61573022207868" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://x.com/dickson1354369" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://www.instagram.com/ronag__gh/" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'assets/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'assets/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'assets/js/sticker.js' %}"></script>
	<!-- main js -->
	{% comment %} <script src="{% static 'assets/js/glightbox.js' %}"></script> {% endcomment %}
	{% comment %} <script src="{% static 'assets/js/glightbox.min.js' %}"></script> {% endcomment %}
	{% comment %} <script src="{% static 'assets/js/isotope.pkgd.js' %}"></script> {% endcomment %}
	{% comment %} <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script> {% endcomment %}
	<script src="{% static 'assets/js/main.js' %}"></script>
	{% comment %} <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script> {% endcomment %}

	<script src="{% static 'assets/js/aos.js' %}"></script>

    <script>
      AOS.init();
    </script>

</body>
</html>