{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">

	<!-- title -->
	<title>RoNAG</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{%static 'assets/img/logo.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{%static 'assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{%static 'assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{%static 'assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{%static 'assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{%static 'assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{%static 'assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{%static 'assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{%static 'assets/css/responsive.css' %}">
	<link rel="stylesheet" href="{%static 'assets/font-6/css/all.css' %}">

	<link rel="stylesheet" type="text/css" href={% static 'assets/css/font-awesome.css' %}>


</head>
<body>
	
	<!--PreLoader-->
    {% comment %} <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div> {% endcomment %}
    <!--PreLoader Ends-->

	

    {% block content %}
    {% endblock content %}

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div style="width: 200px; height: 100px;" class="single-logo-item">
							<img style="width: 100%; height: 100%; object-fit: contain; object-position: center;" src="{% static 'assets/img/company-logos/lawyersfornature.png' %}" alt="">
						</div>
						<div style="width: 100px; height: 100px;" class="single-logo-item">
							<img style="width: 100%; height: 100%; object-fit: contain; object-position: center;" src="{% static 'assets/img/company-logos/cder.png' %}" alt="">
						</div>
						<div style="width: 100px; height: 100px;" class="single-logo-item">
							<img style="width: 100%; height: 100%; object-fit: contain; object-position: center;" src="{% static 'assets/img/company-logos/BGCI.png' %}" alt="">
						</div>
						<div style="width: 100px; height: 100px;" class="single-logo-item">
							<img style="width: 100%; height: 100%; object-fit: contain; object-position: center;" src="{% static 'assets/img/company-logos/ecocare.png' %}" alt="">
						</div>
						<div style="width: 150px; height: 100px;" class="single-logo-item">
							<img style="width: 100%; height: 100%; object-fit: contain; object-position: center;" src="{% static 'assets/img/company-logos/centerforearth.png' %}" alt="">
						</div>
						<div style="width: 150px; height: 100px;" class="single-logo-item">
							<img style="width: 100%; height: 100%; object-fit: contain; object-position: center;" src="{% static 'assets/img/company-logos/StopEcocideLogo.png' %}" alt="">
						</div>
						<div style="width: 150px; height: 100px;" class="single-logo-item">
							<img style="width: 100%; height: 100%; object-fit: contain; object-position: center;" src="{% static 'assets/img/company-logos/GARNLOGO.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->
    
  
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2025 - <a href="#">RIGHTS OF NATURE GHANA MOVEMENT</a>,  All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="https://www.facebook.com/profile.php?id=61573022207868" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://x.com/dickson1354369" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://www.instagram.com/ronag__gh/" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'assets/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'assets/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'assets/js/sticker.js' %}"></script>
	<!-- main js -->
	{% comment %} <script src="{% static 'assets/js/glightbox.js' %}"></script> {% endcomment %}
	{% comment %} <script src="{% static 'assets/js/glightbox.min.js' %}"></script> {% endcomment %}
	{% comment %} <script src="{% static 'assets/js/isotope.pkgd.js' %}"></script> {% endcomment %}
	{% comment %} <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script> {% endcomment %}
	<script src="{% static 'assets/js/main.js' %}"></script>
	
	{% comment %} <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script> {% endcomment %}

	<script src="{% static 'assets/js/aos.js' %}"></script>

    <script>
      AOS.init();
    </script>



</body>
</html>