{% extends 'main.html' %}
{% load static %}
{% block content %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg-news">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>RoNAG news</p>
						<h1>News Article</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<div style="display:flex; margin: 8vh 0  -8vh 0; text-align:center; justify-content:center; gap: 3em;">
		<p >
			<a style="padding:20px 20px; background-color:orange; border-radius: 20px; color:black;" href="{% url 'news' %}">Ronag News</a>
		</p>
		<p>
			<a href="{% url 'online' %}">Online Posts</a>
		</p>
		<p>
			<a href="{% url 'press-release' %}">Press release</a>
		</p>
	</div>

	<!-- latest news -->
	<div class="latest-news mt-150 mb-150">
		<div class="container">
			<div class="row">
				

				{% for post in posts %}
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="{% url 'singleNews' post.id %}"><div class="latest-news-bg news-bg-1">
							<img style="height: 100%; width: 100%; object-position: center; object-fit: cover;" src={{post.image1}} alt="">
						</div></a>
						<div class="news-text-box">
							<h3><a href="{% url 'singleNews' post.id %}">{{post.title}}</a></h3>
							<p class="blog-meta">
								{% if post.author %}
								<span class="author"><i class="fas fa-user"></i> {{post.author}}</span>
								{% else %}
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								{% endif %}
								<span class="date"><i class="fas fa-calendar"></i>{{post.date}}</span>
							</p>
							<p class="excerpt">{{post.paragraph1}}</p>
							<a href="{% url 'singleNews' post.id %}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
					
				</div>
				{% endfor %}



				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="{% url 'article2' %}"><div class="latest-news-bg news-bg-1">
							<img style="height: 100%; width: 100%; object-position: center; object-fit: cover;" src="{% static 'assets/img/news/unwilling.jpg' %}" alt="">
						</div></a>
						<div class="news-text-box">
							<h3><a href="{% url 'article2' %}">The Unwilling Ghana?</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Richard Obeng Mensah</span>
								<span class="date"><i class="fas fa-calendar"></i>April 16, 2025, 6 a.m</span>
							</p>
							<p class="excerpt">
								Professor Nkwantabisa: Dr. Basabasa, what national issues are trending in Ghana?
								<br>
								Dr. Basabasa: Prof., they are too many. They range from actual to potential...
							</p>
							<a href="{% url 'article' %}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
					
				</div>


				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="{% url 'article' %}"><div class="latest-news-bg news-bg-1">
							<img style="height: 100%; width: 100%; object-position: center; object-fit: cover;" src="{% static 'assets/img/news/dozers.jpg' %}" alt="">
						</div></a>
						<div class="news-text-box">
							<h3><a href="{% url 'article' %}">Stop the Impending Ecocide against Nature</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Dickson Adom</span>
								<span class="date"><i class="fas fa-calendar"></i>March 9, 2025, 3 p.m</span>
							</p>
							<p class="excerpt">Revisiting Ghanaian Indigenous Sensibilities and Setting the Tone for a Rights of Nature Ghana (RoNAG) Movement</p>
							<a href="{% url 'article' %}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
					
				</div>
			</div>

			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<div class="pagination-wrap">
								<ul>
									<li><a href="#">Prev</a></li>
									<li><a href="#">1</a></li>
									<li><a class="active" href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">Next</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->
{% endblock content %}